.explanation{
   float:left;
}

dt{
   clear: left;
   float: left;
   font-weight: bold;
}


#ingredient{
   border: 2px solid lightcoral;
}

th,td{
   border:1px solid lightcoral;
}


.btn{
-webkit-appearance: none;
-webkit-border-radius: 0;
   margin: 5px;
   width: 100px;
   height: 40px;
   padding: 10px;
   border: none;
   font-size: 16px;
}

.btn:hover{
opacity: 0.7;
}

.botn:active{
color: white;
}
